@charset "UTF-8";

:root {
    --cor01: #F2E74B;
    --cor02: #A6841F;
    --cor03: #737272;
    --cor04: #BF8136;
    --cor05: #0D0D0D;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

header {
    background-color: var(--cor04);
}

nav {
    background-color: var(--cor04);
    text-align: right;
    padding: 15px;
}

nav > a {
    text-decoration: none;
    padding: 10px;
    background: var(--cor05);
    border-radius: 10px;
}

main {
    background-color: white;
}

article {
    background-color: var(--cor01);
    margin: auto;
}

footer {

}